

* {
    display:flex;
    flex-direction: column;
    font-family: monospace, 'Times New Roman', Times, serif;
   

}

body {
     background-image: url(pictures/ocean-floor_o.jpg);
     justify-content: center;
     align-items: center;
}

#title {
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: gold;
    border-radius: 20%;
    margin: 1%;
    width: 65vw;
}

#calculator {
    justify-content: center;
    align-items: center;
    /* background-color:whitesmoke; */
    border-radius: 10px;
    
}

#topDisplay {
    display: flex;
    border-top: solid 5px darkgray;
    border-right: solid 5px darkgray;
    border-left: solid 5px darkgray;
    flex-direction: row;
    height:10vh;
    width: 50vw;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#clearButton {
    height:100%;
    justify-content: center;
    align-items: center;
    flex:1;
    background-color: lightcoral;
    border-top-left-radius: 10px;
    font-size: 40px;
    border-left: solid 5px black;
    border-top: solid 5px black;
}

#display {
    flex: 6;
    padding: 10px;
    background-color: white;
    border-top-right-radius: 10px;
    align-items:start;
    justify-content: center;
    padding: 20px;
    border-left: solid 5px black;
    border-right: solid 5px black;
    border-top:solid 5px black;
}

#keypad {
    /* border-top: solid 5px darkgray; */
    border-right: solid 5px darkgray;
    border-left: solid 5px darkgray;
    border-bottom: solid 5px darkgray;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 50vw;
    background-color: whitesmoke;
    font-size: 40px; 
}

#number {
    flex:3;
    height:100%;
    align-items: stretch;
}

.numberSet {
    /* flex:1; */
    flex-direction: row;
    height:100%;
}

.numberSet > * {
    flex:1;
    height: 100%;
    justify-content: center;
    align-items: center;  
}

#numberSet123 {
    border-top: solid 5px black;
    border-left: solid 5px black;
    border-right: solid 5px black;
}

#numberSet456 {
    border-left: solid 5px black;
    border-right: solid 5px black;

}

#numberSet789 {
    border-right: solid 5px black;
    border-left: solid 5px black;
    border-bottom: solid 5px black;
    
}

#numberSet0period{
    border-left: solid 5px black;
    border-bottom: solid 5px black;
    border-right: solid 5px black;
    border-bottom-left-radius: 10px;
}

.operators {
    height: 100%;
    flex: 1;
    background-color: lightblue;
    border-bottom-right-radius: 20px;
}

#equalButton {
    background-color: lightcoral;
}

.operators > * {
    padding:10px;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* border-top: solid 5px black;
    border-right: solid 5px black;
    border-left: solid 5px black;
    border-bottom: solid 5px black; */
}


#numberTwo{
    border-right: solid 5px black;
    border-left: solid 5px black;
}

#numberFour{
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}
#numberFive{
    border-top: solid 5px black;
    border-right: solid 5px black;
    border-left: solid 5px black;
    border-bottom: solid 5px black;
}
#numberSix{
    border-top: solid 5px black;
    border-bottom: solid 5px black;
}

#numberEight{
    border-right: solid 5px black;
    border-left: solid 5px black;
}

#plusButton{
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    border-right: solid 5px black;
}

#minusButton{
    border-bottom: solid 5px black;
    border-right: solid 5px black;
}

#dividButton{
    border-bottom: solid 5px black;
    border-right: solid 5px black;
}
#multiplyButton{
    border-bottom: solid 5px black;
    border-right: solid 5px black;
}
#equalButton{
    border-bottom: solid 5px black;
    border-right: solid 5px black;
    border-bottom-right-radius: 10px;
}

#numberZero {
    flex:22;
    border-right: solid 5px black;
} 

#numberPeriod {
    flex:7;
}